<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %} <title> {{ title }} </title> {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
{% if description %}
    <h1>{{ description }}</h1>
{% endif %}
{% if isForm %}
    <p>Insert data for retrieve your Oracle access!</p>
    <form action="/findDbPassword" method="POST" style="text-align: center;">
        <label for="host">Host <br>
            <input type="text" value="localhost" name="host" placeholder="host">
        </label> <br><br>
        <label for="user">User: <br>
            <input type="text" value="admin" name="user" placeholder="user">
        </label> <br><br>
        <label for="user">DataBase: <br>
            <input type="text" value="localDb" name="database" placeholder="dataBase">
        </label>
        <br><br>
        <label for="user">PSW Length: <br>
            <input type="text" value="8" name="passwordLength" placeholder="passwordLength">
        </label>
        <br>
        <br>
        <br>
        <button type="submit">find psw</button>
    </form>
{% endif %}
{% if error %}
    {{ error }}
{% endif %}
</body>
</html>